Core/src/main/resources/assets/minecity/commands.dtd

<!ELEMENT minecity-commands (groups, commands)>
<!ELEMENT groups (group+)>
<!ELEMENT group (desc)>
<!ELEMENT commands (command+)>
<!ELEMENT command ((syntax,desc)|(desc,syntax)|desc|syntax)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT syntax (#PCDATA)>

<!ATTLIST minecity-commands
        modified (true|false) "true"
        add-missing (true|false) "false">

<!ATTLIST group
        id CDATA #REQUIRED
        cmd CDATA #REQUIRED
        parent CDATA #IMPLIED>

<!ENTITY % CityManageCommands "city.create|city.claim|city.disclaim|city.spawn|city.rename|city.transfer|city.setspawn|city.map|city.delete">
<!ENTITY % CityDenyCommands "city.deny.enter|city.deny.click|city.deny.pickup|city.deny.open|city.deny.pvp|city.deny.pvc">
<!ENTITY % CityAllowCommands "city.allow.enter|city.allow.click|city.allow.pickup|city.allow.open|city.allow.pvp|city.allow.pvc">
<!ENTITY % CityDenyAllCommands "city.deny.all.enter|city.deny.all.click|city.deny.all.pickup|city.deny.all.open|city.deny.all.pvp|city.deny.all.pvc">
<!ENTITY % CityAllowAllCommands "city.allow.all.enter|city.allow.all.click|city.allow.all.pickup|city.allow.all.open|city.allow.all.pvp|city.allow.all.pvc">
<!ENTITY % PlotDenyCommands "plot.deny.enter|plot.deny.click|plot.deny.pickup|plot.deny.open|plot.deny.pvp|plot.deny.pvc">
<!ENTITY % PlotAllowCommands "plot.allow.enter|plot.allow.click|plot.allow.pickup|plot.allow.open|plot.allow.pvp|plot.allow.pvc">
<!ENTITY % PlotDenyAllCommands "plot.deny.all.enter|plot.deny.all.click|plot.deny.all.pickup|plot.deny.all.open|plot.deny.all.pvp|plot.deny.all.pvc">
<!ENTITY % PlotAllowAllCommands "plot.allow.all.enter|plot.allow.all.click|plot.allow.all.pickup|plot.allow.all.open|plot.allow.all.pvp|plot.allow.all.pvc">
<!ENTITY % GroupCommands "group.create|group.add|group.remove|group.list|group.info|group.delete|group.add.manager|group.remove.manager">
<!ENTITY % GeneralCommands "confirm|help">
<!ENTITY % PlotManageCommands "plot.create|plot.rename|plot.return|plot.transfer|plot.delete">

<!ENTITY % PlotPermCommands "%PlotAllowCommands;|%PlotDenyCommands;|%PlotAllowAllCommands;|%PlotDenyAllCommands;">
<!ENTITY % CityPermCommands "%CityAllowCommands;|%CityDenyCommands;|%CityAllowAllCommands;|%CityDenyAllCommands;">
<!ENTITY % PlotCommands "%PlotManageCommands;|%PlotPermCommands;">
<!ENTITY % CityCommands "%CityManageCommands;|%CityPermCommands;">
<!ENTITY % Commands "%CityCommands;|%GroupCommands;|%GeneralCommands;|%PlotCommands;">

<!ATTLIST command
        id (%Commands;) #REQUIRED
        cmd CDATA #REQUIRED
        parent CDATA #IMPLIED>
